.some-class{
    margin: 0;
}
.card{
    width: 300px;
}
.hide{
    display: none;
}
li{
    list-style: none;
}
.delete-list{
    margin-left: 90%;
    border: none;
    background-color: transparent;
    outline: none;
}